DB_HOST=localhost
DB_NAME=digitalweb_mol_db
DB_USER=digitalweb_mol_db
DB_PASS="%!cXcVeGJ#bmfB!O"
APP_ENV=production

# Mail Configuration
SMTP_HOST=mail.digitalweb.lk
SMTP_USER=mol@digitalweb.lk
SMTP_PASS="nyC@taV5)5BzHU!T"
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_BYPASS_SSL=true
MAIL_FROM_ADDRESS=mol@digitalweb.lk
MAIL_FROM_NAME="Ministry of Labour Portal"
CONTACT_RECEIVER=gallagevishwa@gmail.com
