DB_HOST=localhost
DB_NAME=mol_db
DB_USER=root
DB_PASS=
APP_ENV=production

# Mail Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_USER=your_username
SMTP_PASS=your_password
SMTP_PORT=2525
MAIL_FROM_ADDRESS=noreply@labourmin.gov.lk
MAIL_FROM_NAME="Ministry of Labour Portal"
CONTACT_RECEIVER=info@labourmin.gov.lk
